.body {
    margin:50px;
    padding:0;
}
.container-fluid {
    width: auto;
    margin-top:115px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div {
    border:none;
}
.card {
    background-color:#ffffff;
    margin: 15px;
    border: none;
}
.card-body {
    padding-top:40px;
}
#sum-img {
    width:225px;
    height:225px;
}
.col-6 img {
    width:100px;
    height:100px;
}
#comp-img {
    width:300px;
    height:auto;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding:0;
    background: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    z-index: 9999;
}
.navbar-brand {
    padding: 25px;
    background: #22b6ae;
    font-weight:bold;
    font-size: 26px;
    margin-left: 75px;
}
.navbar ul li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color:#252424;
    background: #ffffff;
}
.navbar ul li a:hover{
    background-color: rgb(180, 180, 180);
    border-radius:3%;
}
.navbar ul li a {
    border: none;
}
.dropdown-menu {
    border:none;
}
#comparison-title {
    color:#22b6ae;
    font-size:36px;
    font-weight: bolder;
}
#summary-title {
    color:#22b6ae;
    font-size:36px;
    font-weight: bolder;
}
#visualize-title {
    color:#22b6ae;
    font-size:30px;
    font-weight: bolder;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:5px;
    width: 100%;
    border-top-color: #22b6ae;
    border-top-style: solid;
    border-top-width: 6px;
    background-color: #3f4140;
    color: white;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 300px) {
    .navbar li {
      padding: 10px;
    }
    .navbar ul {
      visibility: hidden;
    }
}
